
    <!--pre loader section start here-->
    <div id="pre-loader">
    </div>
    <!--pre loader section start here-->


    <div class="header">
        <div class="logo">Code Emergers</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#" class="dropDown">Who we are <i class="fa-solid fa-caret-down"></i></a>
                    <div class="meet-team">
                        <ul>
                            <li><a href="/kramitsingh">Kr.Amit Singh</a></li>
                            <li><a href="#">Ritik Kumar Verma</a></li>
                            <li><a href="#">Shivangi Chaturvedi</a></li>
                            <li><a href="#">Mayank Shekar</a></li>
                            <li><a href="#">Shreya Singh</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Target</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </nav>
    </div>
    <!--------------------NAV BAR SECTION END------------------------>
