<% layout("/layouts/boilerplate") %>
<body>
    <div class="container text-center bg-primary">
        <div class="row">
            <div class="col-3 bg-primary">Resume</div>
            <div class="col-9 bg-secondary">Resume</div>
        </div>
    
    
    </div>
</body>
