<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container bg-primary my-2 p-0">
            <div class="row p-0">
                <!--------------------------resume form section---------------------->
                <div class="col-3 bg-primary">Resume
                    <div class="form resume-section px-3">
                        <div>
                            <label for="i-name" class="form-label my-1">Full Name:</label>
                            <input type="text" name="fullName" class="form-control" id="i-name" placeholder="Enter Name"
                                oninput="updateResume()">
                        </div>

                        <div>
                            <label for="i-email" class="form-label my-1">Email:</label>
                            <input type="email" name="email" class="form-control" id="i-email" placeholder="Enter Email"
                                oninput="updateResume()">
                        </div>

                        <div>
                            <label for="i-mob" class="form-label my-1">Mobile No:</label>
                            <input type="number" name="mobile" class="form-control" id="i-mob"
                                placeholder="Enter Mobile No." oninput="updateResume()">
                        </div>

                        <div>
                            <label for="i-address" class="form-label my-1">Address :</label>
                            <input type="text" name="address" class="form-control" id="i-address"
                                placeholder="Enter Address" oninput="updateResume()">
                        </div>

                        <div>
                            <label for="i-job-title" class="form-label my-1">Job Title :</label>
                            <input type="text" name="jobtitle" class="form-control" id="i-job-title"
                                placeholder="Eg: Web developer" oninput="updateResume()">
                        </div>

                        <div>
                            <label for="i-link" class="form-label my-1">Link :</label>
                            <input type="text" name="jobtitle" class="form-control" id="i-link"
                                placeholder="www.google.com" oninput="updateResume()">
                        </div>

                        <hr />
                        <!----Education section start here-->

                        <div>
                            <label for="i-education" class="form-label my-1">Education :</label>
                            <input type="text" name="education" class="form-control" id="i-education"
                                placeholder="Eg: IIT Delhi" oninput="updateResume()">
                        </div>


                        <div class="row">
                            <div class="col-6"> <label for="i-start-month" class="form-label my-1">Start Month /
                                    Year:</label>
                                <input type="text" name="startMonth" class="form-control" id="i-start-month"
                                    placeholder="march 2017" oninput="updateResume()">
                            </div>
                            <div class="col-6"> <label for="i-grad-month" class="form-label my-1">Grad Month /
                                    Year:</label>
                                <input type="text" name="gradMonth" class="form-control" id="i-grad-month"
                                    placeholder="may 2019" oninput="updateResume()">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6"> <label for="i-course" class="form-label my-1">Course :</label>
                                <input type="text" name="course" class="form-control" id="i-course"
                                    placeholder="Eg : B.Tech" oninput="updateResume()">
                            </div>
                            <div class="col-6"> <label for="i-location" class="form-label my-1">Location :</label>
                                <input type="text" name="location" class="form-control" id="i-location"
                                    placeholder="Delhi" oninput="updateResume()">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12"><label for="i-grade" class="form-label my-1">Grade :</label>
                                <input type="text" name="course" class="form-control" id="i-grade" placeholder="9.6"
                                    oninput="updateResume()">
                            </div>
                        </div>
                        <hr />
                        <!---------Education Section End here-------------->
                        <!---------Technical section Start here-------------->
                        <div class="container">
                            <div class="row"> <label for="i-prog-lang" class="form-label my-1">Programming Language
                                    :</label>
                                <input type="text" name="progLang" class="form-control" id="i-prog-lang"
                                    placeholder="Eg:C++,Java" oninput="updateResume()">
                            </div>
                            <div class="row"> <label for="i-markup" class="form-label my-1">Markup & Scripting Language
                                    :</label>
                                <input type="text" name="markup" class="form-control" id="i-markup"
                                    placeholder="Eg:Html" oninput="updateResume()">
                            </div>
                            <div class="row"> <label for="i-tools" class="form-label my-1">Tools & IDE :</label>
                                <input type="text" name="tools" class="form-control" id="i-tools"
                                    placeholder="Eg:Vs Code" oninput="updateResume()">
                            </div>
                            <div class="row"> <label for="i-database" class="form-label my-1">Database :</label>
                                <input type="text" name="database" class="form-control" id="i-database"
                                    placeholder="Eg:MongoDB" oninput="updateResume()">
                            </div>
                        </div>


                    </div>
                </div>
<!-----------------------------------------------resume section ----------------------------------------------------------->
                <div class="col-9 bg-secondary">
                    <h2>Resume</h2>
                    <div class="container resume-section bg-light">
                        <div class="row">
                            <h4 class="text-center text-capitalize" id="o-name">Name</h4>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <p class="text-end" id="o-email">Email</p>
                            </div>
                            <div class="col-2">
                                <p id="o-mob">Mobile No</p>
                            </div>
                            <div class="col-5">
                                <p id="o-address" class="text-start">Address</p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <p id="o-job-title">Job Title:</p>
                            </div>
                            <div class="col">
                                <a href="#" id="o-a-link">Link</a>
                            </div>
                        </div>
                        <hr />
                        <!---------------Name to link section end here-->
                        <div class="row">
                            <h4>Education</h4>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h5 id="o-education">School Of Engineering</h5>
                            </div>
                            <div class="col-6 text-end">
                                <p id="o-month">July 2019</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h6 id="o-course">B.Tech</h6>
                            </div>
                            <div class="col-6 text-end">
                                <p id="o-location">Kochi</p>
                            </div>
                        </div>

                        <div class="row">
                            <p id="o-grade">Cgpa 9.99</p>
                        </div>

                        <hr />
                        <!------------Technical Skills-->
                        <div class="container p-0">
                            <h4>Technical Skills</h4>
                            <div class="row">
                                <p>Programming Language : <b id="o-prog-lang">C++</b></p>
                            </div>
                            <div class="row">
                                <p>Markup & Scripting Language : <b id="o-markup">Html</b></p>
                            </div>
                            <div class="row">
                                <p>Tools & IDE : <b id="o-tools">Vs Code</b></p>
                            </div>
                            <div class="row">
                                <p>Database : <b id="o-database">MongoDB</b></p>
                            </div>
                        </div>





                    </div>
                </div>



            </div>


        </div>
    </body>